.checked {
    color: orange;
}

.item-grid{
    margin-top: 60px;
    position: absolute;
    left: 0;
    right: 0;
}

.item-grid p{
    margin: 0;
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    margin-left: -1px;
}

.item::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    width: 1px;
}

.item::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    height: 1px;
}

.img-container{
    display: flex;
    align-items: start;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 170px;
    max-height: 170px;
    margin-bottom: 15px;
}

.item-img{
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 99%;
    height: 85%;
    object-fit: contain;
}

.rating{
    cursor: default;
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
}

.rating-star-container{
    cursor: pointer;
    width: 90px;
}

.rating-star{
    width: 100%;
}

.rating-number{
    color: #017cb6;
}

.item-info-container{
    height: 30px;
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.item-name {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits to two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.price-container{
    width: 100%;
    margin-bottom: 12px;
}

.price{
    font-weight: bold;
}

.item-selection-container{
    width: 100%;
}

.item-no{
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    color: rgb(23,23,23);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240,240,240);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.item-no-toggle{
    border: 1px solid rgb(254, 189, 105);
}


.size-chart{
    width: 100%;
    font-size: 14px;
    
}

.add-to-cart{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    width: 100%;    
    padding-right: 30px;
    border-radius: 50px;
    border: 1px solid rgb(252, 210, 0);
    background-color: rgb(255, 216, 20);
}

.add-to-cart:hover{
    background-color: rgb(227, 194, 33);
}

.add-to-cart:active{
    background-color: rgb(197, 170, 33);
}


.add-message{
    opacity: 0;
    margin-left: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 20px;
    column-gap: 5px;
    color: rgb(6, 125, 98);
    font-size: 16px;
    margin-bottom: 7px;
}

.visible-message{
    opacity: 1;
    margin-left: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 20px;
    column-gap: 5px;
    color: rgb(6, 125, 98);
    font-size: 16px;
    margin-bottom: 7px;
}

.add-message img{
    height: 100%;
}


@media (max-width: 570px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img-container{
        padding-left: 30px;
    }
}

@media (min-width : 570.1px) and (max-width: 700px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .img-container{
        padding-left: 20px;
    }
}

@media (min-width: 700.1px) and (max-width: 1000px){
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .img-container{
        padding-left: 18px;
    }
}


@media (min-width: 1000.1px) and (max-width: 1200px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200.1px) and (max-width: 1400px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1400.1px) and (max-width: 1600px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1600.1px) and (max-width: 1800px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1800.1px) {
    .item-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}